@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@import '../styles/typography.css';
@import '../styles/headings.css';
@import '../styles/tables.css';
@import '../styles/code.css';
@import '../styles/links.css';
@import '../styles/scrollbar.css';
@import '../styles/selection.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}
